p{
font-size:20px;
color:antiquewhite;
}

h1,h2{
color:antiquewhite
}

body{
background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_640.jpg") ;
background-repeat:no-repeat;
background-position:center;
background-size: cover;
}

#takepic,#submit{
font-size: 20px;
background-color: orchid;
}